html{
	background-image: url(http://cs-server.usc.edu:45678/hw/hw8/images/background.png);
	background-size: cover;
}


#whiteWell1{
	background: white; 
	border-radius: 10px; 
	padding-top: 16px;
}
#whiteWell2{
	background: white; 
	border-radius: 10px; 
	padding-top: 16px;
}
.greyLine{	
	color: grey !important;	
	height: 1px;
}

