html{
	background-image: url(http://cs-server.usc.edu:45678/hw/hw8/images/background.png);
	background-size: cover;
}

.panel-default.right.ng-hide-remove {
	transform: translate(-900px, 0px);
	transform-origin: right;
	transition: all 0.7s ease;
}

.panel-default.right.ng-hide-remove-active {
	transform: translate(0px, 0px);
}

.panel-default.left.ng-hide-remove {
	transform: translate(900px, 0px);
	transform-origin: left;
	transition: all 0.7s ease;
}

.panel-default.left.ng-hide-remove-active {
	transform: translate(0px, 0px);
}

md-autocomplete md-progress-linear{
	display: none;
}

md-autocomplete-wrap button {
	display: none;
}

md-autocomplete.red {
	box-shadow: 0 0 2pt 1pt red;
}

.md-virtual-repeat-scroller {
	overflow: hidden;
}

.myStar{
	color: #FDE16D !important;
	font-size: 1.8em;
}
.myEmpStar{
	font-size: 1.8em;
}

#whiteWell1{
	background: white; 
	border-radius: 10px; 
	padding-top: 16px;
}
#whiteWell2{
	background: white; 
	border-radius: 10px; 
	padding-top: 16px;
}
.greyLine{	
	color: grey !important;	
	height: 1px;
}

a:hover{
		text-decoration: none;
}

