<!DOCTYPE html>
<html ng-app="myModule">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StockSearch</title>
  <!-- Bootstrap core CSS -->
 <!--  <link href="./css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Basic Module input -->
<!--   <script src = "./js/angular.js"></script>
  <script src="./js/angular-animate.js"></script>
  <script src="./js/angular-sanitize.js"></script>
  <script src="./js/ui-bootstrap-tpls-2.5.0.js"></script> -->




  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<!--   <script src="http://mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.8"></script>
  <script src="http://mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.8"></script> -->
<!--   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script> -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="./css/style.css" rel="stylesheet">
  <script src="./js/stock.js"></script>

</head>
<body ng-controller="myController" ng-init="init()" background="./img/background.png">
  <div class="container">
    <br>
    <form>
      <div class="jumbotron">
        <h4 class="text-center">Stock Market Search</h4>
        <div class="row">
          <div class="col-sm-3">
            <h5>Enter Stock Ticker Symbol:<span class="text-danger">*</span></h5>
          </div>
          <div class="col-sm-6">
            <!-- <input type="number" class="form-control" ng-model="myInterval"> -->

          <md-autocomplete md-no-cache="true" md-selected-item="selectedItem" md-items="item in getStock(searchText)" md-search-text="searchText" md-item-text="item.Symbol">
            <span>{{ item.show }}</span>
          </md-autocomplete>



<!--             <input type="text" class="form-control" ng-model="selectedStock" data-animation="am-flip-x" bs-options="symbol.show for symbol in getStock($viewValue)" placeholder="e.g. AAPL" bs-typeahead> -->
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>Get Quote</button>
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i>Clear</button>           
          </div>
        </div>   
      </div>
    </form>  
  </div>
</body>
</html>