<!DOCTYPE html>
<html ng-app="myModule">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StockSearch</title>
  <!-- Bootstrap core CSS -->
 <!--  <link href="./css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Basic Module input -->
<!--   <script src = "./js/angular.js"></script>
  <script src="./js/angular-animate.js"></script>
  <script src="./js/angular-sanitize.js"></script> -->




  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="./css/style.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

 <!--  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script> -->
<!--   <script src="http://mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.8"></script>
  <script src="http://mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.8"></script> -->
<!--   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script> -->

  <script src="./js/stock.js"></script>

</head>
<body ng-controller="myController" ng-init="init()" background="./img/background.png">
  <div class="container">
    <br>
      <div class="well" id="whiteWell1">
        <h4 class="text-center">Stock Market Search</h4>
        <div class="row">
          <div class="col-sm-3">
            <h5>Enter Stock Ticker Symbol:<span class="text-danger">*</span></h5>
          </div>
          <div class="col-sm-6">
            <!-- <input type="number" class="form-control" ng-model="myInterval"> -->

          <md-autocomplete 
            md-no-cache="true" 
            md-selected-item="selectedItem" 
            md-items="item in getStock(searchText)" 
            md-search-text="searchText" 
            md-item-text="item.Symbol"
            md-search-text-change="searchTextChange(searchText)" 
            md-search-text="searchText"
            placeholder="e.g. AAPL"
            >
            <span>{{ item.show }}</span>
          </md-autocomplete>
          <h5 ng-show="disabled">Please enter a stock ticker symbol</h5>
<!--             <input type="text" class="form-control" ng-model="selectedStock" data-animation="am-flip-x" bs-options="symbol.show for symbol in getStock($viewValue)" placeholder="e.g. AAPL" bs-typeahead> -->
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-primary" ng-disabled="disabled" ng-click="getQuote(searchText)"><i class="glyphicon glyphicon-search"></i>Get Quote</button>
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-refresh" ng-click="clear()"></i>Clear</button>           
          </div>
        </div>   
      </div>
    <hr>
    <div class="well" id="whiteWell2">
      <div class="panel panel-default"  ng-hide="showDetail">
      <!-- Favourite List -->
      <div class="panel-heading">
          <div class="row">
           <div class="col-sm-2">
            <h3 class="panel-title">Favorite List</h3>
          </div>
          <div class="col-sm-6">
          </div>
          <div class="col-sm-4">
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAutomatic Refresh:&nbsp 
            <input class="text-center" type="checkbox" data-toggle="toggle" data-height="40" data-width="50">&nbsp
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-refresh" ng-click="refresh()"></i></button>
            <button type="button" class="btn btn-default" ng-disabled="!quoted" ng-click="showDetail = !showDetail"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </p>        
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
           <div class="col-sm-1">
            
            <h4>Sort by</h4>
            
          </div>          
           <div class="col-sm-2">
            
            <select class="form-control" ng-model="selectSortBy" ng-options="i for i in sortChoices"></select>
            
          </div>          
          <div class="col-sm-1">
            
            <h4>Order</h4>
            
          </div> 
          <div class="col-sm-2">           
            <select class="form-control" ng-disabled="selectSortBy == 'Default'" ng-model="selectOrderBy" ng-options="i for i in orderChoices"></select>           
          </div>
        </div>
        <table class="table table-striped">
            <tr>
              <td ng-repeat="x in records"><b>{{x}}</b></td>
              <td></td>
            </tr>
            <tr ng-repeat="stock in stockDetails">
              <td ng-click="getQuote(stock.symbol)"><a href="">{{stock.symbol}}</a></td>
              <td>{{stock.close | number : 2}}</td>
              <td style="color: {{stock.change > 0 ? upColor : downColor}}">{{stock.change}}&nbsp({{stock.changePercent}}%)<img ng-src="{{stock.change > 0 ? './img/Up.png' : './img/Down.png'}}" width="20"></td>
              <td>{{stock.volume | number : fractionSize}}</td>
              <td><button ng-click="changeFav(stock.symbol)" class="btn btn-default">Delete</button></td>
            </tr>
        </table>
      </div>
      </div>
      <div class="panel panel-default"  ng-show="showDetail">
      <div class="panel-heading">
        <div class="row">
           <div class="col-sm-1">
            <button ng-click="showDetail = !showDetail" type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </div>
           <div class="col-sm-11">
            <h5 class="text-center"><b>Stock Details</b></h5>
           </div>
         </div>
       </div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <li role="presentation" ng-class="expression=='cs' ? 'active' : ''" ng-click="expression='cs'"><a href="#"><h5><i class="glyphicon glyphicon-dashboard"></i>&nbsp Current Stock</h5></a></li>
          <li role="presentation" ng-class="expression=='hc' ? 'active' : ''" ng-click="expression='hc'"><a href="#"><h5><i class="glyphicon glyphicon-stats"></i>&nbsp Historical Charts</h5></a></li>
          <li role="presentation" ng-class="expression=='nf' ? 'active' : ''" ng-click="expression='nf'"><a href="#"><h5><i class="glyphicon glyphicon-link"></i>&nbsp News Feeds</h5></a></li>    
        </ul>
        <hr class="greyLine">
        <div ng-show="expression=='cs'"> <!-- Tab for Current Stock -->
          <div class="row">
            <div class="col-sm-6"> <!-- Left Hand side -->
              <div class="row">
                <div class="col-sm-3">
                  <h5>Stock Details</h5>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3">
                  <button class="btn btn-default" ng-click="changeFav(searchText)" ng-disabled="!quoted"><i ng-class="!stockDetails[searchText] ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'"></i></button>
                  <button class="btn btn-default" ng-disabled="!quoted"><img ng-src="./img/facebook.png" width=15 height=15></button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">

              <ul class="nav nav-tabs">
                <li  ng-repeat="indi in priceIndicators" role="presentation" ng-class="chartsExpression==indi ? 'active' : ''" ng-click="changeIndi(indi)"><a href="">{{indi}}</a></li>
              </ul>
                         
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-6">
            <div ng-hide="quoted">
            <br><br>
            <div class="progress"><!-- left side progress bar -->
              <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
              </div>
            </div>
          </div>
          <div ng-show="quoted">
            <table class="table table-striped">
              <tr>
                <td><b>Stock Ticker Symbol</b></td>
                <td>{{csDetails.symbol}}</td>
              </tr>
              <tr>
                <td><b>Last Price</b></td>
                <td>{{csDetails.lastPrice | number : 2}}</td>
              </tr>
              <tr>
                <td><b>Change (Change Percent)</b></td>
                <td style="color: {{csDetails.change > 0 ? upColor : downColor}}">{{csDetails.change}}&nbsp({{csDetails.changePercent}}%)<img ng-src="{{csDetails.change > 0 ? './img/Up.png' : './img/Down.png'}}" width="20"></td>
              </tr>
              <tr>
                <td><b>Timestamp</b></td>
                <td>{{csDetails.timestamp}}</td>
              </tr>
              <tr>
                <td><b>Open</b></td>
                <td>{{csDetails.open | number : 2}}</td>
              </tr>
              <tr>
                <td><b>Close</b></td>
                <td>{{csDetails.close | number : 2}}</td>
              </tr>
              <tr>
                <td><b>Day's Range</b></td>
                <td>{{csDetails.low | number : 2}}&nbsp-&nbsp{{csDetails.high | number : 2}}</td>
              </tr>
              <tr>
                <td><b>Volume</b></td>
                <td>{{ csDetails.volume | number : fractionSize}}</td>
              </tr>             
            </table>            
          </div>
          </div>
          <div class="col-sm-6">
              <div ng-hide="chartsInfo[chartsExpression] != null">
              <br><br>               
                <div class="progress"><!-- rigth side progress bar -->
                  <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                  </div>
                </div>
              </div>
              <div ng-show="chartsInfo[chartsExpression] != null" id="chartsContainer"><!-- draw highcharts -->
                
              </div>             
          </div>
          </div>
        </div>
        <div ng-show="expression=='hc'"> <!-- Tab for Historical Chart -->
          <div id="hisContainer"></div>
        </div>
        <div ng-show="expression=='nf'"> <!-- Tab for News Feed -->
          <div class="well" ng-repeat="news in newsData">
            <a href="{{news.link}}">{{news.title}}</a>
            <br><br>
            <p><b>Author:&nbsp{{news["author_name"]}}</b></p>
            <p><b>Date:&nbsp{{news.pubDate.substring(0, 26)+" EDT"}}<p><b>
          </div>
        </div>       
      </div>
      </div>
    </div>
  </div>
</body>
</html>